:root {
    // Colors
    --background: #f2f2f2;
    --color-main: #fed208;
    --color-1: #333;
    --color-2: #000;
    --color-3: #fff;
    --color-4: #fff;
    --btns: #000;
    --grey: #f7f7f7;

    // Other
    --brs: 18px;

    // Fonts
    --mainFont: 'Montserrat', sans-serif;
}

[data-theme='dark'] {
    --background: #05010a;
    --grey: #333;
    --color-2: #fff;
    --color-3: #333;
    // --color-4: #000;
    // --btns: #333;

    background-color: #6b6b6b;
}
