.navigationWrapper {
    //border: 1px solid red;
    position: fixed;

    .navigationItem {
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
        width: 90px;
        height: 70px;
        transition: background 0.2s;
        background-color: var(--grey);

        &:hover {
            background: var(--color-main);
        }

        &:not(:last-child) {
            margin-bottom: 6px;
        }

        span {
            font-size: 13px;
            color: var(--color-2);
        }
    }

    .navigationIcon {
        fill: var(--color-2);
        width: 30px;
        height: 40px;
    }

    .navigationItemActive {
        background: var(--color-main);

        span {
            color: #000;
        }

        .navigationIcon {
            fill: #000;
        }
    }
}
