.button {
    border-radius: var(--brs);
    // background: var(--btns);
    color: var(--color-4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
